$black: rgb(30, 30, 40);
$white: rgb(200, 200, 200);
$red: rgb(229,103,151);
$blue: rgb(26,154,255);
$green: rgb(0,255,170);
$yellow: rgb(255,209,57);

* {
  box-sizing: border-box;
  margin: 0;
}

body{
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/542135/stardust.png");
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gameContainer {
  height: 100vh;
  width: 100vw;
  overflow: visible;
}

#gameBoard {
  position: relative;
  height: 500px;
  width: 500px;
  padding: 10px;
  background-color: $black;
  display: flex;
  flex-wrap: wrap;
  border-radius: 50%;
}

@media only screen and (max-width: 500px) {
  #gameBoard {
    height: 350px;
    width: 350px;
  }
}

.color {
  opacity: .7;
  height: 45%;
  width: 45%;
  margin: 2.5%;
}

#green {
  background-color: $green;
  border-radius: 100% 0 0 0;
}

#red {
  background-color: $red;
  border-radius: 0 100% 0 0;
}

#yellow {
  background-color: $yellow;
  border-radius: 0 0 0 100%;
}

#blue {
  background-color: $blue;
  border-radius: 0 0 100% 0;
}

#centerCircle {
  width: 50%;
  height: 50%;
  background-color: $black;
  border: solid 20px $black;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-text {
  color: $white;
  font-family: 'Russo One', cursive;
  font-size: 40px;
  padding: 10px 0 0 0;
  text-shadow: 0px 0px 10px $blue, 0px 0px 100px white;
  
}

@media only screen and (max-width: 500px) {
  .title-text {    
    font-size: 30px;
    padding: 0;
  }
}

#centerContent {
  position: relative;
}

.button-group {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 70px;
  padding: 0 0 15px 0;
}

@media only screen and (max-width: 500px) {
  .button-group {
    height: 50px;
    padding: 0;
  }
}

.button-group div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.push-button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

@media only screen and (max-width: 500px){
  .push-button {
    height: 20px;
    width: 20px;
  }   
}

.strict-switch{
  position: relative;
  display: inline-block;
  width: 51px;
  height: 24px;
  background-color: yellow;
}

.strict-slider{
  position: absolute;
  color: white;
  display: inline;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $black;
  font-size: 14px;
  font-weight: bold;
}
.strict-slider:before{
  position: absolute;
  content:"";
  height: 20px;
  width: 20px;
  left: 3px;
  top: 2px;
  background-color: white;
  box-shadow: 0 0 10px black;
}

#strict{
  display: none;
}

input:checked + .strict-slider:before{
  transform: translateX(25px);
}

#reset {
  background-color: $red;
}

#start {
  background-color: $green;
}

.name-container {
  background-color: $black;
  margin: -1px 0 0 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

@media only screen and (max-width: 500px) {
  .name-container {
    padding: 5px;
  }
}

#count {
  font-size: 30px;
  background: rgb(0,50,0);
  box-shadow: inset 0 0 10px black;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  color: rgb(255,57,154);
  text-shadow: 0 0 6px rgb(255,57,154);
  width: 50px;
  margin: auto;
}
p{
  font-family: 'Russo One';
  color: $white;
}